@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* HEADER SECTION */
.input-search::placeholder{
    font-family: 'Montserrat', sans-serif;
}
.sidenav a{
    font-family: 'Montserrat', sans-serif;
}
.adspace{
    font-family: 'Montserrat', sans-serif;
}
.left span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.center span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.image_teller{
    font-family: 'Montserrat', sans-serif;
}